In [137]:
# To import all necessary libraries
import pandas as pd
from string import ascii_uppercase as alphabet
import pickle
from scipy.stats import poisson

In [138]:
# Read the HTML tables from the provided Wikipedia page
main_table = pd.read_html('https://en.wikipedia.org/wiki/2023_Africa_Cup_of_Nations#cite_note-table_hth_CMR0.036663605848636-46')

In [139]:
# To show content of imported tables
main_table[45]

,Pos,Teamvte,Pld,W,D,L,GF,GA,GD,Pts,Qualification
0,1,Morocco,1,1,0,0,3,0,+3,3,Advance to knockout stage
1,2,DR Congo,1,0,1,0,1,1,0,1,Advance to knockout stage
2,3,Zambia,1,0,1,0,1,1,0,1,Possible knockout stage based on ranking
3,4,Tanzania,1,0,0,1,0,3,−3,0,NaN

In [140]:
# Define the alphabet for group labeling
alphabet = 'ABCDEF'

# Create an empty dictionary to store DataFrames for each group
dict_table = {}

# Iterate through the alphabet and corresponding range to extract information for each group
for letter, i in zip(alphabet, range(10, 46, 7)):
    # Extract the DataFrame for the current group
    df = main_table[i]
    
    # Rename the second column to 'Team'
    df.rename(columns={df.columns[1]: 'Team'}, inplace=True)
    
    # Remove the 'Qualification' column
    df.pop('Qualification')
    
    # Store the DataFrame in the dictionary with the appropriate label
    dict_table[f'Group {letter}'] = df

In [142]:
# To show table after column 'qualification' has been removed
dict_table['Group D']

   Pos          Team  Pld  W  D  L  GF  GA  GD   Pts
0    1  Burkina Faso    1  1  0  0   1   0  +1     3
1    2        Angola    1  0  1  0   1   1   0  1[a]
2    3       Algeria    1  0  1  0   1   1   0  1[a]
3    4    Mauritania    1  0  0  1   0   1  −1     0

In [143]:
# Specify the file name to store the dictionary using pickle
file_name = 'dict_table'

# Open the file in binary write ('wb') mode
with open(file_name, 'wb') as output:
    # Use pickle to dump the 'dict_table' dictionary into the file
    pickle.dump(dict_table, output)

In [144]:
# Load the pickled 'dict_table' dictionary from the file
dict_table = pickle.load(open('dict_table', 'rb'))

# Read the CSV file containing the historical AFCON match data
df_afcon_history = pd.read_csv('C:/Users/DELL/Documents/Data Analytics Projects/Afcon_1957_2021_matches.csv')

# Read the CSV file containing the 2023 AFCON fixture data
df_2023_fixtures = pd.read_csv('C:/Users/DELL/Documents/Data Analytics Projects/Afcon_2023_fixture.csv')

In [145]:
# To show content of imported Afcon History
df_afcon_history

          HomeTeam           AwayTeam  Year  HomeGoals  AwayGoals  TotalGoals
0            Sudan              Egypt  1956          1          2           3
1         Ethiopa        South Africa  1956          2          0           2
2            Egypt            Ethiopa  1956          4          0           4
3              UAR            Ethiopa  1957          4          0           4
4            Sudan            Ethiopa  1957          1          0           1
..             ...                ...   ...        ...        ...         ...
680        Senegal  Equatorial Guinea  2021          3          1           4
681  Burkina Faso             Senegal  2021          1          3           4
682       Cameroon              Egypt  2021          0          0           0
683  Burkina Faso            Cameroon  2021          3          3           6
684        Senegal              Egypt  2021          0          0           0

[685 rows x 6 columns]

In [146]:
# To show content of imported Afcon 2023 Matches
df_2023_fixtures

                 home     score               away    year
0                 NaN       NaN                NaN     NaN
1                 NaN       NaN                NaN     NaN
2                 NaN       NaN                NaN     NaN
3                 NaN       NaN                NaN     NaN
4                 NaN       NaN                NaN     NaN
5                 NaN       NaN                NaN     NaN
6                 NaN       NaN                NaN     NaN
7                 NaN       NaN                NaN     NaN
8                 NaN       NaN                NaN     NaN
9                 NaN       NaN                NaN     NaN
10                NaN       NaN                NaN     NaN
11                NaN       NaN                NaN     NaN
12  Equatorial Guinea  Match 13      Guinea-Bissau  2023.0
13        Ivory Coast  Match 14            Nigeria  2023.0
14              Egypt  Match 15              Ghana  2023.0
15         Cape Verde  Match 16         Mozambique  2023.0
16            Senegal  Match 17           Cameroon  2023.0
17             Guinea  Match 18             Gambia  2023.0
18            Algeria  Match 19       Burkina Faso  2023.0
19         Mauritania  Match 20             Angola  2023.0
20            Tunisia  Match 21               Mali  2023.0
21       South Africa  Match 22            Namibia  2023.0
22            Morocco  Match 23           DR Congo  2023.0
23             Zambia  Match 24           Tanzania  2023.0
24  Equatorial Guinea  Match 25        Ivory Coast  2023.0
25      Guinea-Bissau  Match 26            Nigeria  2023.0
26         Cape Verde  Match 27              Egypt  2023.0
27         Mozambique  Match 28              Ghana  2023.0
28              Ghana  Match 29           Cameroon  2023.0
29             Guinea  Match 30            Senegal  2023.0
30             Angola  Match 31       Burkina Faso  2023.0
31         Mauritania  Match 32            Algeria  2023.0
32            Namibia  Match 33               Mali  2023.0
33       South Africa  Match 34            Tunisia  2023.0
34           Tanzania  Match 35           DR Congo  2023.0
35             Zambia  Match 36            Morocco  2023.0
36     Winner Group D  Match 37    3rd Group B/E/F  2023.0
37  Runner-up Group A  Match 38  Runner-up Group C  2023.0
38     Winner Group A  Match 39    3rd Group C/D/E  2023.0
39  Runner-up Group B  Match 40  Runner-up Group F  2023.0
40     Winner Group B  Match 41    3rd Group A/C/D  2023.0
41     Winner Group C  Match 42    3rd Group A/B/F  2023.0
42     Winner Group E  Match 43  Runner-up Group D  2023.0
43     Winner Group F  Match 44  Runner-up Group E  2023.0
44    Winner Match 40  Match 45    Winner Match 39  2023.0
45    Winner Match 38  Match 46    Winner Match 37  2023.0
46    Winner Match 43  Match 47    Winner Match 42  2023.0
47    Winner Match 41  Match 48    Winner Match 44  2023.0
48    Winner Match 45  Match 49    Winner Match 48  2023.0
49    Winner Match 47  Match 50    Winner Match 46  2023.0
50     Loser Match 49  Match 51     Loser Match 50  2023.0
51    Winner Match 49  Match 52    Winner Match 50  2023.0

# To Calculate Team Strength

In [87]:
#Split df into df_home and df_away
df_home = df_afcon_history[['HomeTeam', 'HomeGoals', 'AwayGoals']]
df_away = df_afcon_history[['AwayTeam', 'HomeGoals', 'AwayGoals']]

In [88]:
# To Rename the columns of the afcon history
df_home = df_home.rename(columns={'HomeTeam': 'Team', 'HomeGoals': 'GoalsScored', 'AwayGoals': 'GoalsConceded'})
df_away = df_away.rename(columns={'AwayTeam': 'Team', 'HomeGoals': 'GoalsConceded', 'AwayGoals': 'GoalsScored'})

In [89]:
# To concat df_home and df_away, group by team and calculate the mean
df_team_strength = pd.concat([df_home, df_away], ignore_index=True).groupby('Team').mean()
df_team_strength

                    GoalsScored  GoalsConceded
Team
Algeria                1.157143       1.242857
Angola                 1.227273       1.636364
Benin                  0.444444       2.222222
Botswana               0.666667       3.000000
Burkina Faso           0.950000       1.500000
Burkina Faso           1.041667       1.291667
Cameroon               1.528736       0.919540
Cape Verde             0.600000       0.900000
Comoros                1.000000       1.750000
Congo                  1.000000       1.285714
Congo                  2.000000       4.000000
Congo-Brazzaville      0.666667       2.666667
Congo-Kinshasa         1.500000       1.250000
Congo-leopoldville     1.000000       4.000000
DR Congo               1.000000       1.411765
DR Congo               1.133333       1.133333
Egypt                  1.444444       0.800000
Equatorial Guinea      0.733333       0.933333
Ethiopa                0.285714       2.857143
Ethiopa                2.000000       1.307692
Ethiopia               0.750000       2.500000
Gabon                  0.928571       1.357143
Gabon                  1.000000       1.000000
Gambia                 0.800000       0.600000
Ghana                  1.306122       0.877551
Guinea                 1.325581       1.395349
Guinea-Bissau          0.333333       1.333333
Ivory Coast            1.457447       1.063830
Kenya                  0.571429       1.714286
Liberia                1.000000       1.400000
Libya                  1.090909       1.181818
Malawi                 0.900000       1.500000
Mali                   1.173913       1.304348
Mali                   1.250000       0.500000
Mauritania             0.000000       2.333333
Mauritius              0.666667       2.666667
Morocco                1.153846       0.938462
Mozambique             0.333333       2.166667
Namibia                1.500000       3.000000
Niger                  0.166667       1.500000
Nigeria                1.426966       0.932584
Rwanda                 1.000000       1.000000
Senegal                1.169492       0.881356
Sierra Leone           0.500000       1.750000
South Africa           1.153846       1.102564
Sudan                  1.074074       1.555556
Tanzania               1.000000       2.000000
Togo                   0.782609       1.695652
Togo                   0.000000       0.000000
Tunisia                1.260274       1.232877
UAR                    2.583333       1.333333
Uganda                 0.947368       1.789474
Upper Volta            1.333333       3.000000
Zaire                  1.320000       1.400000
Zambia                 1.208955       1.029851
Zimbabwe               1.272727       2.090909

# To Predict Future Points

In [147]:
def predict_future_points(home, away):
    # Check if both teams are present in the team strength dataframe
    if home in df_team_strength.index and away in df_team_strength.index:
        # Calculate the lambda values for Poisson distribution
        lamb_home = df_team_strength.at[home, 'GoalsScored'] * df_team_strength.at[away, 'GoalsConceded']
        lamb_away = df_team_strength.at[away, 'GoalsScored'] * df_team_strength.at[home, 'GoalsConceded']
        
        # Initialize probabilities for home win, away win, and draw
        prob_home, prob_away, prob_draw = 0, 0, 0
        
        # Loop through possible goal combinations for home and away teams
        for x in range(0, 11):  # number of goals home team
            for y in range(0, 11):  # number of goals away team
                # Calculate the probability of this goal combination using Poisson distribution
                p = poisson.pmf(x, lamb_home) * poisson.pmf(y, lamb_away)
                
                # Update probabilities based on match outcome
                if x == y:
                    prob_draw += p
                elif x > y:
                    prob_home += p
                else:
                    prob_away += p
        
        # Calculate points for home and away teams based on probabilities
        points_home = 3 * prob_home + prob_draw
        points_away = 3 * prob_away + prob_draw
        
        # Return the calculated points for both teams
        return (points_home, points_away)
    else:
        # If either home or away team is not in the dataframe, return zero points for both
        return (0, 0)

### To Test Future Points

In [148]:
# To test with matches: Ivory Coast - Nigeria
predict_future_points('Ivory Coast', 'Nigeria')

(1.2693282632781457, 1.4826637574942576)

# Predicting Afcon

### Group Stage

In [149]:
# Splitting Fixtures into groups, knockouts and final
df_2023_fixtures_group_36 = df_2023_fixtures[:36].copy()
df_2023_fixtures_round_of_16 = df_2023_fixtures[36:44].copy()
df_2023_fixtures_quarter = df_2023_fixtures[44:48].copy()
df_2023_fixtures_semi = df_2023_fixtures[48:50].copy()
df_2023_fixtures_third_place = df_2023_fixtures[50:51].copy()
df_2023_fixtures_final = df_2023_fixtures[51:].copy()

In [150]:
# To show output of allgroup matches after round 1
df_2023_fixtures_group_36

                 home     score           away    year
0                 NaN       NaN            NaN     NaN
1                 NaN       NaN            NaN     NaN
2                 NaN       NaN            NaN     NaN
3                 NaN       NaN            NaN     NaN
4                 NaN       NaN            NaN     NaN
5                 NaN       NaN            NaN     NaN
6                 NaN       NaN            NaN     NaN
7                 NaN       NaN            NaN     NaN
8                 NaN       NaN            NaN     NaN
9                 NaN       NaN            NaN     NaN
10                NaN       NaN            NaN     NaN
11                NaN       NaN            NaN     NaN
12  Equatorial Guinea  Match 13  Guinea-Bissau  2023.0
13        Ivory Coast  Match 14        Nigeria  2023.0
14              Egypt  Match 15          Ghana  2023.0
15         Cape Verde  Match 16     Mozambique  2023.0
16            Senegal  Match 17       Cameroon  2023.0
17             Guinea  Match 18         Gambia  2023.0
18            Algeria  Match 19   Burkina Faso  2023.0
19         Mauritania  Match 20         Angola  2023.0
20            Tunisia  Match 21           Mali  2023.0
21       South Africa  Match 22        Namibia  2023.0
22            Morocco  Match 23       DR Congo  2023.0
23             Zambia  Match 24       Tanzania  2023.0
24  Equatorial Guinea  Match 25    Ivory Coast  2023.0
25      Guinea-Bissau  Match 26        Nigeria  2023.0
26         Cape Verde  Match 27          Egypt  2023.0
27         Mozambique  Match 28          Ghana  2023.0
28              Ghana  Match 29       Cameroon  2023.0
29             Guinea  Match 30        Senegal  2023.0
30             Angola  Match 31   Burkina Faso  2023.0
31         Mauritania  Match 32        Algeria  2023.0
32            Namibia  Match 33           Mali  2023.0
33       South Africa  Match 34        Tunisia  2023.0
34           Tanzania  Match 35       DR Congo  2023.0
35             Zambia  Match 36        Morocco  2023.0

In [151]:
# Run all the matches in the group stage and update group tables

# Iterate through each group in the dictionary
for group in dict_table:
    # Extract the list of teams in the current group
    teams_in_group = dict_table[group]['Team'].values
    
    # Filter the fixture DataFrame for matches involving teams in the current group
    df_2023_fixtures_group_6 = df_2023_fixtures_group_36[df_2023_fixtures_group_36['home'].isin(teams_in_group)]
    
    # Iterate through the filtered fixture DataFrame to simulate matches
    for index, row in df_2023_fixtures_group_6.iterrows():
        # Extract home and away teams for the current match
        home, away = row['home'], row['away']
        
        # Predict future points for the home and away teams
        points_home, points_away = predict_future_points(home, away)

        # Convert 'Pts' column to string before removing "[a]"
        dict_table[group]['Pts'] = dict_table[group]['Pts'].astype(str)
        
        # Remove "[a]" from the 'Pts' column using regular expression
        dict_table[group]['Pts'] = dict_table[group]['Pts'].str.replace(r'\[.*\]', '', regex=True)

        # Convert 'Pts' column to numeric, handling errors by coercing to NaN
        dict_table[group]['Pts'] = pd.to_numeric(dict_table[group]['Pts'], errors='coerce')
        
        # Explicitly cast 'Pts' column to a compatible dtype (float64) before adding points
        dict_table[group]['Pts'] = dict_table[group]['Pts'].astype(float)
        
        # Update 'Pts' for the home and away teams in the current group
        dict_table[group].loc[dict_table[group]['Team'] == home, 'Pts'] += points_home
        dict_table[group].loc[dict_table[group]['Team'] == away, 'Pts'] += points_away

    # Sort the group table based on 'Pts' in descending order and reset the index
    dict_table[group] = dict_table[group].sort_values('Pts', ascending=False).reset_index()
    
    # Retain only the 'Team' and 'Pts' columns in the group table
    dict_table[group] = dict_table[group][['Team', 'Pts']]
    
    # Round the 'Pts' column to the nearest integer
    dict_table[group] = dict_table[group].round(0)

# Show Updated Table

In [160]:
dict_table['Group A']

                    Team  Pts
0  Equatorial Guinea (X)    4
1            Nigeria (X)    4
2     Ivory Coast (H, X)    3
3      Guinea-Bissau (E)    0

In [161]:
dict_table['Group B']

             Team  Pts
0           Ghana  6.0
1  Cape Verde (A)  6.0
2           Egypt  4.0
3      Mozambique  1.0

In [162]:
dict_table['Group C']

          Team  Pts
0  Senegal (A)    6
1   Guinea (X)    4
2     Cameroon    1
3   Gambia (Y)    0

In [163]:
dict_table['Group D']

           Team  Pts
0       Algeria  6.0
1        Angola  5.0
2  Burkina Faso  5.0
3    Mauritania  0.0

In [164]:
dict_table['Group E']

           Team  Pts
0          Mali  6.0
1       Namibia  4.0
2  South Africa  4.0
3       Tunisia  3.0

In [165]:
dict_table['Group F']

       Team  Pts
0   Morocco  6.0
1    Zambia  5.0
2  DR Congo  4.0
3  Tanzania  2.0